body {
  background-color: #f8f9fa;
}

.card {
  margin-top: 50px;
}

.card-title {
  color: #333;
}

.card-title-top {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
}

.btn-primary:hover {
  background-color: #333;
  border-color: #333;
}